/* For Header Section */
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.secondary-bg {
    background-color: #FFF8F3;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-right: 80px;
    margin-left: 50px;
}

nav ul li {
    list-style: none;
    margin: 30px;
}

nav ul li a {
    text-decoration: none;
}

.ul-container {
    display: flex;
    align-items: center;
}

.for-h3 {
    font-weight: bolder;
    font-size: 45px;
}

.span-color {
    color: #FD6E0A;
}

.li-color {
    color: #474747;
}

.btn-li {
    background-color: #FD6E0A;
    color: #FFFFFF;
    padding: 15px 20px;
    border-radius: 5px;
    border-style: none;
}

.btn-img-contain {
    display: flex;
    justify-content: space-between;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.for-text {
    font-weight: bold;
    font-size: 45px;
}

.for-name {
    font-weight: bold;
    font-size: 85px;
}

.contact-btn {
    border-color: #FD6E0A;
    padding: 12px 25px;
    border-radius: 5px;
    color: #FD6E0A;
    background-color: white;
}

.item {
    line-height: 30px;
}

/* For About section */
.personal-data {
    display: flex;
    justify-content: space-evenly;
}

.about-font {
    font-weight: bold;
    font-size: 35px;
}

.about-color {
    color: #181818;
}

.for-section {
    padding: 130px 150px;
    text-align: center;
    border-radius: 10px;
    margin-top: 130px;
}

.p-data {
    color: #000000;
    font-size: 20px;
    font-weight: bold;
}

main {
    max-width: 1140px;
    margin: 0 auto;
}



/* For sill sector*/
.experience {
    text-align: center;
}

.p-data2 {
    color: #000000;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
}

.skill-container {
    display: flex;
    gap: 20px;
    margin-top: 50px;
}

.skill-div {
    border-radius: 10px;
    padding: 20px;
}

.skill-p {
    padding-left: 20px;
    padding-right: 30px;
    padding-bottom: 40px;
}

.skill-h2 {
    text-align: left;
    padding-left: 20px;
}

.skil-img {
    display: flex;
    justify-content: left;
}

.about-color2 {
    color: #181818;
    font-size: 20;
}

/* For Summary Section */

.summary-section {
    display: flex;
    gap: 20px;
}

.summary-div {
    padding-right: 80px;
}

.Section-btn {
    background-color: #FD6E0A;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 15px;
    border-color: #FD6E0A;
    margin-top: 20px;
}

.sec-btn {
    display: flex;
    justify-content: center;
}

.sec-color {
    font-weight: bold;
    font-size: 30px;
    color: #000000;
}

.sec-div2 {
    font-weight: bold;
    font-size: 25px;
    color: #474747;
}

.sec-div3 {
    font-weight: 600px;
    font-size: 20px;
    color: #474747;
}

.sec-div4 {
    font-weight: normal;
    font-size: 16px;
    color: #474747;
}

/* Footer Section */
footer {
    background-color: #FFF8F3;
}

.foot-section {
    display: flex;
    gap: 40px;
    margin-top: 30px;
    justify-content: center;
}

.footer1 {
    padding-right: 200px;
    padding-left: 40px;
}

.footer2 {
    display: block;
    width: 360px;
    height: 64px;
    margin-top: 30px;
    border-radius: 5px;
    padding-left: 50px;
    border-color: #FFF8F3;
}

.footer3 {
    display: block;
    width: 360px;
    height: 180px;
    margin-top: 30px;
    border-radius: 5px;
    border-color: white;
    padding-left: 50px;
    /* border-color: #181818; */
}

.footer4 {
    padding-right: 60px;
}

.Section-btn6 {
    background-color: #FD6E0A;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 15px 25px;
    border-color: #FD6E0A;
    margin-top: 20px;
}


@media screen and (max-width:576px) {

    .skill-container,
    .summary-section,
    .foot-section {
        flex-direction: column;
        margin: 1rem;
    }

    .footer4 {
        padding: 30px;
    }

    .for-section {
        padding: 60px;
    }

    .personal-data {
        flex-direction: column;
    }

    


}

.hide {
    display: none;
}